
<div class="panel panel-default">
  <div class="panel-heading">Players</div>
    <div class="table-responsive" >
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th class="text-center" >Edit</th>
                    <th class="text-center" >Avatar</th>
                    <th class="text-center" >Full Name</th>
                    <th class="text-center" >Rank</th>
                    <th class="text-center" >age</th>
                    <th class="text-center" >games Played</th>
                    <th class="text-center" >games Won</th>
                    <th class="text-center" >win Percent</th>
                    <th class="text-center" >goals Scored</th>
                </tr>
            </thead>
            <tbody>
                <tr class="ko-player" type="tabel" player="player" ng-repeat="player in players">
                </tr>
            </tbody>
        </table>
    </div>
</div>